---
import type { ImageMetadata } from "astro";
import { getImage } from "astro:assets";
const { imagePath, variant = "bg" } = Astro.props;
const className = `hero-${variant}`;

const importedImage = `/src/assets/images/${imagePath}`;

const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/assets/images/*.{jpeg,jpg,png,gif,webp}"
);
if (!images[importedImage])
  throw new Error(
    `"${importedImage}" does not exist in glob: "src/assets/images/*.{jpeg,jpg,png,gif,webp}"`
  );

const optimizedBackground = await getImage({
  src: images[importedImage](),
  format: "webp",
});
---

<section
  style={`background-image: url(${optimizedBackground.src});`}
  class={className}
>
  <slot />
</section>

<style>
  @layer components {
    section {
      background-size: cover;
      display: grid;
      grid-template-columns: 1fr minmax(0, var(--content-width)) 1fr;
      place-content: center;
    }

    .hero-about {
      aspect-ratio: 96/31;
    }
    .hero-bg {
      aspect-ratio: 1920/487;
    }
  }
</style>
